<h2>Add Tools</h2>
<div>
    <button mat-stroked-button (click)="openDialog()">Browse</button>
</div>
<br>
<br>
<div>
    <table class="table table-sm table-hover">
        <thead class="thead-dark">
            <tr>
                <th style="text-align: left">Tool</th>
                <th></th> <!-- Nothing for delete button -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tool of dataSource; let i = index">
                <td>{{ tool.name }}</td>
                <td class="remove" style="text-align: right">
                    <button mat-button type="button" (click)="remove(i)">X</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>