<h2>Add Ingredients</h2>
<div>
    <mat-grid-list cols="3" rowHeight="1:1">
<!--         <mat-grid-tile *ngFor="let foodgroup of foodgroups">
            <button mat-raised-button>{{foodgroup.name}}</button>
        </mat-grid-tile> -->
        <mat-grid-tile><button class="group" mat-raised-button>Fruits</button></mat-grid-tile>
        <mat-grid-tile><button class="group" mat-raised-button>Grains</button></mat-grid-tile>
        <mat-grid-tile><button class="group" mat-raised-button>Dairy</button></mat-grid-tile>
        <mat-grid-tile><button class="group" mat-raised-button>Vegetables</button></mat-grid-tile>
        <mat-grid-tile><button class="group" mat-raised-button>Proteins</button></mat-grid-tile>
        <mat-grid-tile><button class="group" mat-raised-button>Other</button></mat-grid-tile>
    </mat-grid-list>
</div>
<br>
<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="Ingredient List">
            <th mat-header-cell *matHeaderCellDef> Ingredient List </th>
            <td mat-cell *matCellDef="let element"> {{element.food.name}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>