<h2>Add Pantry Items with Food Groups</h2>
<div>
    <mat-grid-list cols="3" rowHeight="2:1">
<!--         <mat-grid-tile *ngFor="let foodgroup of foodgroups">
            <button mat-raised-button>{{foodgroup.name}}</button>
        </mat-grid-tile> -->
        <!-- <button mat-stroked-button (click)="openDialog()">Browse</button> -->
        <mat-grid-tile><button class="group" mat-raised-button (click)="openDialog()">Add a Fruit</button></mat-grid-tile>
        <mat-grid-tile><button class="group" mat-raised-button (click)="openDialog()">Add Grains</button></mat-grid-tile>
        <mat-grid-tile><button class="group" mat-raised-button (click)="openDialog()">Add Dairy Item</button></mat-grid-tile>
        <mat-grid-tile><button class="group" mat-raised-button (click)="openDialog()">Add a Vegetable</button></mat-grid-tile>
        <mat-grid-tile><button class="group" mat-raised-button (click)="openDialog()">Add Proteins</button></mat-grid-tile>
        <mat-grid-tile><button class="group" mat-raised-button (click)="openDialog()">Add Other Foods</button></mat-grid-tile>
    </mat-grid-list>
</div>
<br>
<div>
    <table class="table table-sm table-hover">
        <thead class="thead-dark">
            <tr>
                <th style="text-align: left">Pantry</th>
                <th></th> <!-- Nothing for delete button -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let element of dataSource; let i = index">
                <td>{{ element.food.name }}</td>
                <td class="remove" style="text-align: right">
                    <button mat-button type="button" (click)="remove(i)">X</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>